section {
  display: flex;
  background-color: blue;
}

.text-1 {
  width: 350px;
  margin-left: 10px;
}

.speak {
  margin-left: 10px;
}

.div-1 {
  background-color: gray;
  width: 370px;
  height: 700px;
}

.soz-1 {
  padding: 12px;
  background-color: black;
  display: inline-block;
  color: white;
  text-align: center;
  margin-left: 30px;
  margin-top: 10px;
}

.div-2 {
  height: 500px;
  margin-left: 20px;
}

.img-2 {
  margin-left: 77px;
}

.img-3 {
  margin-left: 46px;
}

.soz-3 {
  margin-top: 55px;
}

.divbek-1 {
  display: flex;
}

.reading img {
  margin-left: 0;
  width: 200px;
  height: 200px;
}

.reading {
  display: flex;
  height: 260px;
  width: 600px;
  flex-direction: row-reverse;
  align-items: center;
}
